# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [1]:
print("Hello Mary!") #print() is your first function

Hello Mary!

Hello world via a variable

In [2]:
message = "Hello Fabien!" #assigning a string to a variable
print(message) # message is a variable

Hello Fabien!



Concatenation (combining strings)

In [3]:
first_name = 'Fabien' 
last_name = 'GUERET' 
full_name = first_name + ' ' + last_name 
print(full_name)

Fabien GUERET

In [7]:
first_name = 'Ahmed' 
last_name = 'Abdi' 
full_name = first_name + ' ' + last_name +' ' 
print(full_name * 5)

Ahmed Abdi Ahmed Abdi Ahmed Abdi Ahmed Abdi Ahmed Abdi

In [8]:
print(first_name , last_name ) #If you put in a comma then it automatically puts in space

Ahmed Abdi



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [9]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing']

In [10]:
addon = ['raleigh','brompton']
bicycles =bicycles + addon # add a list to a list
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton']

Get the first item in the list

In [11]:
first_bike = bicycles[0] #list [position] 1st item in Python is zero in this case mountain
print (first_bike)

mountain

In [13]:
third_bike = bicycles[2] #list [position]
print (third_bike)

race

Get the last item in the list

In [14]:
last_bike = bicycles[-1] #-1 in a list gives the last item
print(last_bike)

brompton

In [15]:
# write code to print the penultimate (i.e. one before last) bike

In [17]:
fifth_bike = bicycles[4] 
print(fifth_bike)

raleigh

In [21]:
One_b4_last = bicycles[-2] #-2 in a list gives the one before last item in this case fifth bike
print(One_b4_last)

raleigh

# Working with Strings

## split() function

In [23]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = 'UK house prices grew two per cent year on year for September, according to new figures released today, but London house prices declined'

words = sentence.split(' ')

print(words)

['UK', 'house', 'prices', 'grew', 'two', 'per', 'cent', 'year', 'on', 'year', 'for', 'September,', 'according', 'to', 'new', 'figures', 'released', 'today,', 'but', 'London', 'house', 'prices', 'declined']

In [24]:
url = 'https://www.standard.co.uk/news/politics/brexit-secretary-dominic-raab-quits-his-post-a3990626.html'
elements = url.split('/')
print(elements)

['https:', '', 'www.standard.co.uk', 'news', 'politics', 'brexit-secretary-dominic-raab-quits-his-post-a3990626.html']

In [25]:
# adapt to get the first and second part from an email address
email = "trainingsupport@pairview.co.uk"

########## your code below#############

parts = email.split('@')
print(parts)
individual = parts[0]
company = parts[-1]
print(individual, company)

['trainingsupport', 'pairview.co.uk']
trainingsupport pairview.co.uk

In [27]:
# write code to get the first name and the last name from the full name that can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"

names = myname.split(' ')
print(names)

first_name = names [0]
last_name = names[-1]
print(first_name, last_name)

['Elizabeth', 'Alexandra', 'Mary', 'Windsor']
Elizabeth Windsor

## join() function

In [28]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '
sentence = separator.join(words)

print(sentence)

UK house prices grew two per cent year on year for September, according to new figures released today, but London house prices declined

## strip() function

In [29]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@this is a polluted string example@@0000000"
print(stri.strip( '0' ).strip('@)'))
#Normally used to remove spaces at the beginning and the end of a sentence

this is a polluted string example

## replace(old_word,new_word) function

In [30]:
# and now I present you the function replace
print( stri. strip('0').strip('@').replace( 'polluted' , 'cleaned' ))
# lstrip() rstrip(): beginning spaces or end spaces removal
# strip() remove by default spaces

this is a cleaned string example

# for in statement
### Looping through a list

In [33]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

#for in:  statement

for bike in bicycles: #bike = bicycles[0]
    print(bike)
    print(bike*5)
    #print('Python')
    
print('End')

mountain
mountainmountainmountainmountainmountain
road
roadroadroadroadroad
race
raceraceraceracerace
penny-farthing
penny-farthingpenny-farthingpenny-farthingpenny-farthingpenny-farthing
End

## range () function

In [35]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 4 do in C++
    print(i)

0
1
2
3

In [36]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 4 do in C++
    print(bicycles[i])

mountain
road
race
penny-farthing

In [ ]:
# range function tester

In [37]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

0
1
2
3
4
5
6
7

In [38]:
for number in range(2,8): # first is start , second the one after 
    print(number)

2
3
4
5
6
7

In [40]:
for number in range(2,8,2): # first is start , second the one after the last # 3rd the step
    print(number)

2
4
6

In [41]:
for number in range(50,1000,75): # first is start , second the one after the last # 3rd the step or increments
    print(number)

50
125
200
275
350
425
500
575
650
725
800
875
950

## Adding items to a list

In [43]:
test = bicycles + ['peugeot']
print(test)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', 'peugeot']

In [42]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']
# add another string
bicycles.append('peugeot')
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot']

In [47]:
# add a number!
bicycles.append(22)
print(bicycles)

['mountain', 'race', 'penny-farthing', 'peugeot', 22]

In [48]:
# add a list!!
addon = ['derailleur','shimano']
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

['mountain', 'race', 'penny-farthing', 'peugeot', 22, ['derailleur', 'shimano']]

In [ ]:
Remove items from lists
# remove()
bicycles.remove('race')
print(bicycles)

In [45]:
# del() removes the items at specified position
del bicycles [-1]
print (bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot']

In [46]:
# pop() same as remove but can transfer the removed item to a variable
popped = bicycles.pop(1)
print(bicycles)
print (popped)

['mountain', 'race', 'penny-farthing', 'peugeot']
road

In [49]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1]) # the whole [] as one unit
print(bicycles[-1][1])# the last one within the [] unit

['derailleur', 'shimano']
shimano

## Making numerical lists

In [50]:
# initialisation 
cubes = []
squares = []
####### start of the loop
for number in range(1, 7): 
    cubes.append(number**3) # number * number *number
    squares.append(number**2)
###### end of the loop    
print(cubes)
print(squares)

# ** operator is power

[1, 8, 27, 64, 125, 216]
[1, 4, 9, 16, 25, 36]

In [58]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements

#average = sum/count
#initialisation

sumN = 0
count = 0

for i in range (5,16): #fpr every item in Sandra's bag
    sumN= sumN + i     #add the vakue of the item
    count= count +1    #count one more
    #print('i', i)
    #print('sumN', sumN)
    #print('count', count)
    
print('Average', sumN/count)

Average 10.0

## len() function

In [59]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16))
print(l)

print( len (bicycles))

11
6

# List comprehensions : Advanced

In [ ]:
cubes = [x**3 for x in range(1, 7)] 

# equivalent to 

cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3)

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [62]:
finishers = ['Sue','Elliot', 'Kumiko','Damien'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

['Sue', 'Elliot']

In [63]:
last_two = finishers[2:] # from 2 (included) up to end
print(last_two)

f = finishers[:2] + finishers[2:]
print(f)

['Kumiko', 'Damien']
['Sue', 'Elliot', 'Kumiko', 'Damien']

In [64]:
last_two = finishers[-2:]
print(last_two)

['Kumiko', 'Damien']

## index() function
index function returns the first occurence in the list

In [65]:
# want a table with the position next to the element
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
print('Index | Finisher')
for f in finishers:
    print(finishers.index(f), ' | ',f)
# index function returns the first occurence in the list

Index | Finisher
0  |  Sue
1  |  Elliot
2  |  Kumiko
3  |  Damien
1  |  Elliot

In [66]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Elliot'] 
l =len(finishers)
print('Index | Finisher')
for number in range(0,l):
    print(number  , finishers[number])

Index | Finisher
0 Sue
1 Elliot
2 Kumiko
3 Damien
4 Elliot

Copying a list

In [67]:
copy_of_bicycles = bicycles[:] 
print(copy_of_bicycles)

['mountain', 'race', 'penny-farthing', 'peugeot', 22, ['derailleur', 'shimano']]

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [68]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

# lists can be modified 
bicycles[0]='raleigh'
print(bicycles)

(35, 'Data Science', [1, 2, 3, 4, 5], (1, 7))
['raleigh', 'race', 'penny-farthing', 'peugeot', 22, ['derailleur', 'shimano']]

In [ ]:
#hold_all[0]= 34

print(hold_all[0])

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [69]:
# If statement
age = 25
commonwealth = True
if age >= 18: 
    print("You may be able to vote")

if (age >= 18 and commonwealth == True):
    print("You can vote!")

You may be able to vote
You can vote!

In [70]:
#If-elif-else statements 
if age < 4: 
    price = 0 
elif age < 18:
    price = 10 
else: price = 15

print(price)

15

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [71]:
x = 57 # i assign 57 to x
# (x<42) is  a test with a value of True of False
print('is x smaller than 42?', x < 42)

X =(x > 42 )
print('is x bigger than 42?', X)

if X : 
    print(X)

is x smaller than 42? False
is x bigger than 42? True
True

In [72]:
test = 50
x = (test!= 55)

if x :
    print(x)

True

## Conditional test with lists 
## IN
## NOT IN

In [73]:
print('downhill' in bicycles)

False

In [74]:
print('downhill' not in bicycles)

True

Assigning boolean values

In [ ]:
game_active = True 
can_edit = False

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [82]:
# set list

list = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# your code below
for element in list:
    if element < 5:
        print (element)

1
1
2
3

In [83]:
# extra: create a list of random number using the
# random generator below

import random
for x in range(10):
  print(random.randint(1,101))

24
16
69
76
67
43
34
55
68
12

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [85]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8}

real_dictionary = {'a': 'string that defines a', 'abc': 'definition of abc'}


# with different value types
car = {'make' : 'Mazda'
       , 'model' : '3 sport'
       , 'engine_size_cc': 2259
       ,'colour': 'laser blue'
       , 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [ ]:
print("The car colour is " + car['colour'])
#like a list but instead of position we put the key

In [86]:
#write code to retrieve the dictionary inside the dictionary

dictionary = car['dimensions_mm']
print(dictionary)

{'w': 1795, 'l': 4465, 'h': 1465}

In [87]:
# retrieve the value in thedictionary inside the dictionary

print('car length is', car['dimensions_mm']['l'], 'cm')

car length is 4465 cm

In [89]:
#Adding a new key-value pair
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

In [90]:

print(car)

{'make': 'Mazda', 'model': '3 sport', 'engine_size_cc': 2259, 'colour': 'laser blue', 'dimensions_mm': {'w': 1795, 'l': 4465, 'h': 1465}, 'transmission_type': 'automatic'}

Values, Keys and Items

In [91]:
print('list of tuples in the dictionary','\n',car.items(),'\n')

print('list of keys','\n',car.keys(),'\n')

print('list of values','\n',car.values(),'\n') #\n new line for presentation purposes

list of tuples in the dictionary
 dict_items([('make', 'Mazda'), ('model', '3 sport'), ('engine_size_cc', 2259), ('colour', 'laser blue'), ('dimensions_mm', {'w': 1795, 'l': 4465, 'h': 1465}), ('transmission_type', 'automatic')])

list of keys
 dict_keys(['make', 'model', 'engine_size_cc', 'colour', 'dimensions_mm', 'transmission_type'])

list of values
 dict_values(['Mazda', '3 sport', 2259, 'laser blue', {'w': 1795, 'l': 4465, 'h': 1465}, 'automatic'])

Looping through all keys

In [92]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

make is a car characteristic
model is a car characteristic
engine_size_cc is a car characteristic
colour is a car characteristic
dimensions_mm is a car characteristic
transmission_type is a car characteristic

Looping through all the values

In [93]:
#write code to loop through all the values

for v in car.values(): 
    print(v , ' is a car characteristic')

Mazda  is a car characteristic
3 sport  is a car characteristic
2259  is a car characteristic
laser blue  is a car characteristic
{'w': 1795, 'l': 4465, 'h': 1465}  is a car characteristic
automatic  is a car characteristic

Looping through all key-value pairs

In [94]:
# python difference or characteristic
#print(str(car['dimensions_mm']['l']))

for k,v in car.items():
    print(k ,' is ' , v)
    print(k + ' is '+ str(v))

make  is  Mazda
make is Mazda
model  is  3 sport
model is 3 sport
engine_size_cc  is  2259
engine_size_cc is 2259
colour  is  laser blue
colour is laser blue
dimensions_mm  is  {'w': 1795, 'l': 4465, 'h': 1465}
dimensions_mm is {'w': 1795, 'l': 4465, 'h': 1465}
transmission_type  is  automatic
transmission_type is automatic

In [96]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}

for k,v in dic2.items():
    dic1[k]=v
    
for k,v in dic3.items():
    dic1[k]=v
    
print(dic1)

{1: 'Royal Dutch Shell', 2: 'BP', 3: 'Total', 4: 'Volkswagen', 5: 'Glencore Xstrata', 6: 'Gazprom'}

In [ ]:
# Write a Python script to check if a given key already exists in a dictionary.

### your code ####

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [97]:
# prompting for a value
name = input("What's your name? ") 
print("Hello, " + name + "!")

What's your name? Ahmed Abdi
Hello, Ahmed Abdi!

In [98]:
# prompting for a number

age = input("How old are you? ") #return a string
age = int(age) #convert
print(age)

How old are you? 10
10

In [99]:
pi = input("What's the value of pi? ") 
print(pi)
pi = float(pi)

What's the value of pi? 3.1456
3.1456

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [109]:
current_year = 2018

name = input("What's your name? ") 
age = input("How old are you? ")
age = int(age) #convert

birth_year = current_year - age

centenary = birth_year + 100

print ('Hello', name, 'you will be 100 or dead in', centenary)

What's your name? Ahmed
How old are you? 5
Hello Ahmed  you will be 100 or dead in 2113

In [ ]:
import random

for x in range(10):
  print(random.randint(1,101))